.contact-web {
  display: block;
}

.contact-mobile {
  display: none;
}

/* Responsive Design for Mobile */
@media (max-width: 468px) {
  .contact-web {
      display: none;
  }

  .contact-mobile {
      display: block;
  }

  .contact-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
  }

  .contact-item {
      width: 100%;
      margin: 0;
  }

  iframe {
      width: 100%;
      height: auto;
  }
}
