<form id="contact-form" class="contact-form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
    </div>
    
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
    </div>
    
    <button type="submit" class="button">Send</button>
  </form>
  
  <script>
    document.getElementById('contact-form').addEventListener('submit', async function(event) {
      event.preventDefault();
      const formData = new FormData(event.target);
      const response = await fetch('https://prod-194.westeurope.logic.azure.com:443/workflows/f1163eb1c3cd43ce8832496eb6790adf/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=t7QrNvAZOqPHBytgvfQ3X6PXkcsjiB_vopsP30CbLvI', {
        method: 'POST',
        body: JSON.stringify(Object.fromEntries(formData)),
        headers: {
          'Content-Type': 'application/json'
        },
        // body: JSON.stringify(formData),
      });
      if (response.ok) {
        alert('Message sent successfully!');
      } else {
        alert('Failed to send message.');
      }
    });
  </script>